@import "tailwindcss";

body {
  background-color: alrgb(236, 246, 255);
  font-family: "Cabin", sans-serif;
  /* scroll-behavior: smooth; */
}
/* 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
} */
